rebar.lock
.rebar3/
ebin/
_build/
pometo_parser.erl
pometo_lexer.erl
.DS_Store
erl_crash.dump
rebar3.crashdump
test/generated_tests
test/generated_common_tests
docs/_site
docs/Gemfile.lock
*.beam
tmp/*