%% -*- erlang -*-

{erl_opts, [debug_info]}.

{yrl_opts, [
						{warnings_as_errors, true}
%						{verbose,          true}
						]}.

{deps, [
		{base16, "1.0.0"}
		]}.

{plugins, [
           {pometo_docs_to_tests,    {git, "https://github.com/gordonguthrie/pometo_docs_to_tests",    {branch, "main"}}},
	         {pometo_docs_to_ct_tests, {git, "https://github.com/gordonguthrie/pometo_docs_to_ct_tests", {branch, "main"}}}
          ]
}.

{extra_src_dirs, [{"test", [{resursive, true}]}]}.
